<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '/bootstrap/bootstrap.min.css' %}">
</head>
<body>
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Assignment</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Register</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/showRecords">Show Records</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link btn-success" href="/getAllCSVData">Download ALL Records in CSV</a>
                      </li>
                    </ul>
                
                  </div>
                </div>
              </nav>
        </div>
    </div>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
            <th scope="col">Address</th>
            <th scope="col">Academic Level</th>
            <th scope="col">university</th>
            <th scope="col">Field Study</th>
            <th scope="col">study Destination</th>
            <th scope="col">enrollment</th>
            <th scope="col">languageProficiency</th>
          </tr>
        </thead>
        <tbody>
        {% for i in data %}
          <tr>
            <th scope="row">{{i.fullName}}</th>
            <td>{{i.email}}</td>
            <td>{{i.age}}</td>
            <td>{{i.address}}</td>
            <td>{{i.academicLevel}}</td>
            <td>{{i.university}}</td>
            <td>{{i.fieldStudy}}</td>
            <td>{{i.studyDestination}}</td>
            <td>{{i.enrollment}}</td>
            <td>{{i.languageProficiency}}</td>
          </tr>

        {% endfor %}
          
        </tbody>
      </table>

      <script  src="{% static '/bootstrap/bootstrap.min.js' %}"> </script>
      <script  src="{% static '/bootstrap/jquery.js' %}"> </script>
      <script src="{% static '/js/website/register.js' %}"></script>

</body>
</html>